body {
    margin: 0px;
    padding: 0px; }
html {
    scroll-behavior: smooth; }
@import "./main2-settings/header2";
@import "./main2-settings/section2";
@import "./main-settings/footer";
@import "./main2-settings/media-queries2"