$_black: #000000;
$_white: #ffffff;
$_dimgray: #353535;
$_zincgray: #cccccc;
$_lightgray: #8a8a8a;
$_silver: #9c9c9c;
$_darkgray: #393939;
$_gray: #747474;
$_gainsboro: #d1d1d1;
$_pink: #FF29CB;
$_rgba:  rgba(128, 128, 128, 0.7);










$darkcolor: $_black;
$whitecolor: $_white;
$primarycolor: $_dimgray;
$rgbacolor: $_rgba;
$lightgraycolor: $_lightgray;
$silvercolor: $_silver;
$darkgraycolor: $_darkgray;
$gainsborocolor: $_gainsboro;
$pinkcolor: $_pink;
$graycolor: $_gray;
$zincgraycolor: $_zincgray;